<html>
<head>
    <link rel="stylesheet" href="views/app.css">
</head>
<body>
    <form action="/login" method="post">
        <h2>Login</h2>
        <div class="input-field">
            <input type="text" name="username" placeholder="Enter Username">
        </div>
        <div class="input-field">
            <input type="password" name="password" placeholder="Enter Password">
        </div>
        <input type="submit" value="LogIn">
    </form>
    <p class="signup">
        No account? <a href="/signup">Sign up!</a>
    </p>
    <p class="authenticate">
        Add an account? <a href="/authenticate">Authenticate!</a>
    </p>
</body>
</html>